<div class="mail-item">
  <!-- people -->
  <div class="people col-sm-3">
    <ul class="mail-icons list-inline">
      <li>
        <input type="checkbox" class="mail-select" [checked]="!!letter._checked" (click)="cbClick(letter)" >
      </li>
      <li>
        <span class="glyphicon glyphicon-star-empty"></span>
      </li>
      <li>
        <span class="glyphicon glyphicon-cutlery"></span>
      </li>
    </ul>
    <span class="people-names pointer" [routerLink]="letterLink">Nizar Khalife</span>
  </div>

  <div class="pointer" [routerLink]="letterLink" (click)="letterClick()">
    <!-- message -->
    <div class="message col-sm-7">
      <div class="clipper">
        <h3>{{letter.subject}}</h3>
        -
        <p>{{letter.body}}</p>
      </div>
    </div>

    <!-- date -->
    <div class="date col-sm-2">
      <div class="pull-right">11:27 a.m.</div>
    </div>
  </div>
</div>
