<div>
  <h3>Settings:</h3>
  <div class="group">
    <span class="btn btn-default" (click)="genMailboxes()">Generate Mailboxes</span>
    <span class="btn btn-default" (click)="delAllMailboxes()">Delete All Mailboxes</span>
  </div>
  <div class="group">
    <span class="btn btn-default" (click)="genLetters()">Generate Letters</span>
    <span class="btn btn-default" (click)="delAllLetters()">Delete All Letters</span>
  </div>
  <div class="group">
    <span class="btn btn-default" (click)="genUsers()">Generate Users</span>
    <span class="btn btn-default" (click)="delAllUsers()">Delete All Users</span>
  </div>
</div>
