footer .copyright {
  position: fixed;
  padding: 5px 10px;
  height: 23px;
  bottom: 0px;
  width: 100%;
  background-color: lightgray;
  font-size: 12px;
}

footer .copyright span {
  background-color: lightgray;
}
