.menu-container {
  float: left;
  display: inline-block;
  width: 240px;
  overflow: hidden;
  white-space: nowrap;
}

.menu {
  display: inline-block;
  padding: 10px;
  font-size: 17px;
  color: #000;
  cursor: pointer;
}

.menu.active,
.menu:hover {
  color: #d14836;
}

.dropdown-toggle {
  font-family: Arial, sans-serif;
  font-size: 11px;
}


footer .copyright {
  position: fixed;
  padding: 5px 10px;
  height: 23px;
  bottom: 0px;
  width: 100%;
  background-color: lightgray;
  font-size: 12px;
}

footer .copyright span {
  background-color: lightgray;
}
