<div class="container-fluid">

  <app-header></app-header>


  <div class="control-bar row">
    <!-- menu -->
    <div class="menu-container">
      <div class="menu col-sm-2-" routerLink="/mail/Inbox" routerLinkActive="active">
        Mail
        <span class="caret"></span>
      </div>
      <div class="menu col-sm-2-" routerLink="/users" routerLinkActive="active">
        Users
        <span class="caret"></span>
      </div>
      <div class="menu col-sm-2-" routerLink="/settings" routerLinkActive="active">
        Conf.
        <span class="caret"></span>
      </div>
    </div>

    <!-- controls -->
    <div class="controls col-sm-8">
      <ul class="control-list list-inline">
        <li>
          <button class="btn btn-control" type="button">
            <input type="checkbox" class="mail-select" [checked]="allChecked" (change)="checkAll($event)" ngModel #cb="ngModel" [disabled]="!currentRouteIsMail">
            <span class="caret"></span>
          </button>
        </li>

        <li>
          <button class="btn btn-control" (click)="deleteCheckedMail()" title="Delete email" [disabled]="!currentRouteIsMail">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </li>

        <li>
          <!-- Single button -->
          <div class="btn-group">
            <button type="button" class="btn btn-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong>More</strong> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li role="separator" class="divider"></li>
              <li><a href="#" (click)="clickLogout()">Log out</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>



  <section class="mail row">
    <router-outlet></router-outlet>
  </section>

  <footer class="row">
    <div class="copyright">
      <span class="cp-tytle">developed by:</span>
      <span class="cp-name">Zurab Diakonashvili</span>
      <span class="cp-mail">(zurab.diakonashvili@gmail.com)</span>
    </div>
  </footer>

</div>
