<div class="content" *ngIf="!authorised">
  <div class="form-cover">
    <h3>Sign in:</h3>
    <h3><small>(hint: enter equal values for name & pass)</small></h3>
    <form class="login col-sm-4-" action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <label>name:</label><input class="nick" placeholder="Your nickname" formControlName="nick" (input)="onInput()" autofocus>
        <label>password:</label><input class="pass" placeholder="Your password" formControlName="pass" (input)="onInput()">
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
      </fieldset>
    </form>
  </div>
  <div class="err  bg-danger" *ngIf="!!invalidAttemptCount">The pair of Name and Passwword is invalid!</div>
</div>
