<form class="cover" action="" #f="ngForm" (ngSubmit)="onSubmit(f)">
<!--<form class="cover" action="http://test-api.javascript.ru/v1/zurab/users" method="POST">-->

  <div>
    <div class="buttons">
      <span class="label"></span>
      <button class="btn btn-control btn-send" type="submit">Save</button>
      <button class="btn btn-control btn-back" (click)="clickBack()" >Cancel</button>
    </div>

    <div>
      <label>fullName: </label>
      <input class="full-name form-control" name="fullname" type="text" [(ngModel)]="user.fullName" required>
    </div>

    <div>
      <label>email: </label>
      <input class="email form-control" name="email" type="text" [(ngModel)]="user.email" required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$">
    </div>

    <!--<div>
      <label>birthdate: </label>
      <input class="birthdate form-control" name="birthdate" type="text" [(ngModel)]="user.birthdate">
    </div>-->

    <div>
      <label>birthdate: </label>
      <my-date-picker name="mydate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [(ngModel)]="model"></my-date-picker>
    </div>

    <div>
      <label>gender: </label>
      <select class="form-control" name="gender" [(ngModel)]="user.gender">
        <option value="M" [selected]="user.gender === 'M'">Male</option>
        <option value="F" [selected]="user.gender === 'F'">Female</option>
        <option value="N" [selected]="user.gender === 'N'">Not defined</option>
      </select>
    </div>

    <div>
      <label>address: </label>
      <input class="address form-control" name="address" type="text" [(ngModel)]="user.address">
    </div>
  </div>

</form>

<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
