.users ul {
  width: 50%;
  min-width: 400px;
  list-style: none;
}

.users ul li {
  border-bottom: 1px solid #aaa;
}

.users ul li a {
  display: inline-block;
  width: calc(100% - 23px);
  padding: 9px 0;
  text-decoration: none;
}

.users ul li a:hover {
  background-color: #f1f1f1;
  text-decoration: none;
}

.btn-add {
  margin: 5px 0 5px 40px;
}
