/* You can add global styles to this file, and also import other style files */

.typeahead {
  position: absolute;
  margin-left: 10px;
  padding: 5px;
  list-style: none;
  min-width: 300px;
  width: 30%;
  background-color: white;
  box-shadow: 4px 4px 4px 0px rgba(50, 50, 50, 0.75);
  border: solid 1px #aaa;
  border-radius: 2px 2px 5px 5px;
  visibility: hidden;
}

.typeahead li {
  font-family: Arial, Consolas, sans-serif;
  font-size: 13.333px;
}
.typeahead li:hover {
  background: #eee;
  cursor: default;
}

.typeahead li:not(:first-child) {
  /*margin-top: 3px;*/
  padding-top: 4px;
}

.typeahead li:not(:last-child) {
  /*border-bottom: solid 1px #aaa;*/
  padding-bottom: 4px;
}
